@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
    height: 75px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background: #171c24;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}

nav .content .links{
  padding-left: 45%;
  position: absolute;
  display: flex;
}
.content .logo a{
  margin-left: 35px;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
  margin-top: 20px;
}
.content .links li a,
.content .links li label{
  color: rgb(214, 219, 219);
  font-size: 15px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.content .links li a{
  margin-bottom: 15px;
}

.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #2f5eb6;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
ul .navbar_mod{
  padding: 0px;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 952px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 230px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    padding-left: 0%;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 15px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
    text-decoration: none;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 15px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.logo_pic{
    transform:scale(1.3);
    -ms-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -o-transform:scale(1.3);
    -moz-transform:scale(1.3);
}

/*Product top section*/
/*home*/
section{
    background: #ffffff;
    padding: 50px 0;
    min-height: 60vh;
    padding: 0 9%;
}

.home{
    background-image: linear-gradient(to bottom, rgb(119, 192, 223), #fff);
    display: flex;
    align-items: center;
    padding-top: 100px;

}

.home img{
    width: 500px;
    margin-left: 150px;
}

.home .content h1{
    font-size: 55px;
    margin-bottom: 15px;
    color: rgb(2, 20, 75);

}

.home p {
    font-size: 17px;
}

.home a{
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    background: rgb(2, 20, 75);
    color: floralwhite;
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
}

@media screen and (max-width: 768px){
  .home {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
  } 
  .home .content{
    text-align: center;
  }
  .home .content h1{
    font-size: 2.5rem;
    text-align: center;
  }
  .home .content p{
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 990px){
  .home img{
    margin-left: 0px;
    width: 450px;
    margin: auto;
  } 
}

@media screen and (max-width: 605px){
  .home img{
    margin-left: 0px;
    width: 400px;
    margin: auto;
  } 
}

@media screen and (max-width: 455px){
  .home img{
    width: 300px;
    margin: auto;
  } 
}

/*Tab Section*/
/*
.hero{
    width: 75%;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

.btn-box{
    display: flex;
    border-bottom: 2px solid #ccc;

}
.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 15px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px 20px 20px 20px;
}

.tab__content{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 2.5% auto;
    position: absolute;
    transform: translateX(2000%);
}

.content-left {
    padding: 20px 20px;
}
.content-left h1{
    font-size: 35px;
    margin-bottom: 30px;
}



.content-left p{
    font-size: 17px;
    padding: 10px 0;
}

.content-left ul li{
    padding: 15px 0;
}

#content1{
    transform: translateX(0px);
}

#btn1{
    background: #85e3ff;
}
.table span{
    display: block;
}

table{
    width: 100%;
}

td{
    padding: 12px 15px;
}

tbody tr{
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(odd){
    background-color: #f3f3f3;

}




@media screen and (max-width: 768px){
    .content-left h1{
        font-size: 35px;
        padding: 10px 0;
    }
}*/


.tab_wrapper{
	width: 80%;
	margin: 100px auto;
}

.tabs ul{
	display: flex;
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 25px;
  padding: 0;
}

.tabs ul li{
	width: 400px;
	padding: 15px;
	/*border-right: 1px solid #dddddd;*/
	text-align: center;
	color: #3b3b3b;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
  list-style-type: none;
}

.tabs .text{
  font-size: 15px;
}



.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #16e4ff;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #356bff;
	color: #ffffff;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}

.t_content{
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 20px;
}

.tab_wrap .title{
	font-size: 25px;
	margin-bottom: 15px;
	font-weight: 600;
}

.tab_wrap .tab_content p{
	font-size: 15px;
  line-height: 22px;
	margin-bottom: 15px;
}

.tab_content span{
  display: block;
}

table{
  width: 100%;
}

td{
  padding: 12px 15px;
}

tbody tr{
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(odd){
  background-color: #f3f3f3;

}

.tab_button{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 20px;
  background: rgb(213, 221, 243);
  color: floralwhite;
  border-radius: 40px;
  letter-spacing: 1px;
  margin-right: 20px;
}

.tab_button a{
  color: #000000;
  text-decoration: none;
}

.icon{
  color: #374ab8;
  padding: 0 2px;
}

.tab_content{
  margin-bottom: 10px;
}



@media screen and (max-width: 768px){
  .tabs ul{
    display: flex;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 745px){
  .tabs ul{
    display: flex;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0px 130px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 537px){
  .tabs ul{
    display: flex;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0px 0px;
    flex-wrap: wrap;
  }
}


/*footer sectiob*/

footer{
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #171c24;
  box-shadow: 0 16px 70px -8px #fff;
  border-radius: 20px 20px 0 0;
  transition: background 0.3s linear;
}

.footer__container{
  max-width: 1170px;
  padding: 30px 40px;
  margin: auto;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer__profil .logo__area{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo__area .logo__name {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.logo__area img {
  padding: 20px 20px;
}

.desc__area{
  max-width: 320px;
  margin-bottom: 1.25rem;
}

.desc__area p{
  color: #fff;
  font-weight: 400;
  line-height: 28px;
}

.footer__service__area{
  display: flex;

}


.footer__service__header{
  margin-right: 40px;
}


li.footer__service__name{
  font-size: 20px;
  color: #0059ff;
  font-weight: 600;
}

.footer__service__header li a{
  color: #f2f2f2;
  padding-bottom: 1px;
  font-weight: 400;
  text-decoration: none;
}


.footer__service__header li {
  margin-bottom: 10px;
  list-style: none;
} 



.hr{ 
  height: 1px;
  border: none;
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.footer__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.copy__right{
  color: #fff;
}

.copy_right span{
  margin-left: 8px;
  font-weight: 400;
  letter-spacing: 0.135rem;
}

.tou a{
  color: #ffffff;
  margin-left: 1.5rem;
  text-decoration: none;
}



@media screen and (max-width: 768px){
  .footer__content{
    flex-wrap: wrap;
    margin-right: 200px;
    display: flex;
    justify-content: left;
  }
  .footer__profil{
    margin-left: 26px;
  }
  .footer_service__area{
    margin: 0px;
  }
  .footer__bottom{
    flex-wrap: wrap;
    justify-content: center;
  }
}
